@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen;
}

/* Scrollbar discreto */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(51 65 85) transparent;
}
