@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply min-h-screen antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(51 65 85) transparent;
}
